<!--suppress HtmlUnknownTarget -->
<!-- Spring uses webjar-locator to find it's dependencies -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body ng-app="app" ng-controller="home as home" ng-cloak>
<h1>Bored Games</h1>
<div class="container" ng-show="!home.authenticated">
    <div>
        <a href="/login/facebook">Login with Facebook</a>
    </div>
</div>
<div class="container" ng-show="home.authenticated">
    <div>
        Hi <span ng-bind="home.getUser()"></span> <br>
        <button ng-click="home.logout()" class="btn btn-primary">Logout</button>
    </div>

    <br><h2>Global Game Library</h2>

    <div ng-controller="gameController as gameCtrl">
        <ul>
            <li ng-repeat="game in gameCtrl.games">{{game.name}}</li>
        </ul>

        <form novalidate class="simple-form">
            Game: <input type="text" ng-model="game.name"/>
            <input type="submit" ng-click="gameCtrl.addGame(game)" value="Add Game" class="btn btn-primary"/>
        </form>
    </div>
</div>
<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
<script type="text/javascript">
    angular
        .module("app", [])
        .config(
            function ($httpProvider) {
                $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
            })
        .controller("home", function ($http, $location, $scope) {

            var vm = this;
            vm.user = '';
            vm.authenticated = false;
            vm.getUser = getUser;
            vm.logout = logout;

            fetchUser();

            function fetchUser() {
                $http.get("/user").success(function (data) {
                    if (angular.isDefined(data.name)) {
                        console.log("Found user: " + data.facebookId);
                        vm.user = data.name;
                        vm.authenticated = true;
                        $scope.$broadcast('authenticated', 'true');
                    } else {
                        console.log("No valid user data passed");
                    }
                }).error(function () {
                    console.log("User not found");
                    vm.user = "N/A";
                    vm.authenticated = false;
                });
            }

            function getUser() {
                if (vm.user === '' && vm.authenticated === true) {
                    fetchUser();
                }
                return vm.user;
            }

            function logout() {
                $http.post('logout', {}).success(function () {
                    console.log("Logout success");
                    vm.authenticated = false;
                    $location.path("/");
                }).error(function () {
                    console.log("Logout failed");
                    vm.authenticated = false;
                });
            }
        })
        .controller("gameController", function ($scope, $http) {

            var vm = this;
            vm.games = [];
            vm.addGame = addGame;

            $scope.$on('authenticated', function (event, data) {
                console.log("Authenticated: " + data);
                getGames();
            });

            function getGames() {
                $http.get("/games").success(function (data) {
                    if (data._embedded.games.length > 0) {
                        console.log("Returning games: " + angular.toJson(data._embedded.games));
                        vm.games = data._embedded.games;
                    } else {
                        console.log("No valid games data passed");
                    }
                }).error(function () {
                    console.log("Games not found");
                });
            }

            function addGame(game) {
                $http.post("/games", game).success(function (data) {
                    console.log("Game added: " + angular.toJson(data));
                    getGames();
                }).error(function (data) {
                    console.log("Unable to add game: " + angular.toJson(data));
                })
            }

        });
</script>
</body>
</html>